
html, body, #root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

/* Button.css */
.btn-custom {
    background-color: #d9d9d9;
    color: black; 
    border: 1px solid black; 
    transition: background-color 0.3s; 
  }
  
  .btn-custom:hover {
    background-color: #f2eabf;
    border: 1px solid black; 
    color: black;
    
  }